{% extends 'base.html' %}
{% block menu %}
    <li class="nav-item">
            <a class="nav-link" href="{% url 'record_add' %}">Добавить запись </a>
    </li>
{% endblock %}
{% block content %}
   <h1 class="bg-info text-white text-center">Гостевая книга</h1>
    {% csrf_token %}
            {% for record in records %}
                <div class="card mb-3 text-center">
                  <div class="card-header bg-info text-white"> {{ record.name }} ({{ record.email }})</div>
                  <div class="card-body">
                    <p class="card-text">{{ record.record }}</p>
                    <a href="" class="btn btn-info"><span class="fa fa-edit"></span> Редактировать</a>
                    <a href="" class="btn btn-info"><span class="fa fa-trash"></span> Удалить</a>
                  </div>
                </div>
            {% endfor %}
{% endblock %}